.dimension{
    width: 20vw;
    padding-bottom: 20px;
}

Form{
    align-content: center !important;
    text-align: center;
    height: 100vh;
    padding-top: 50vh;
    margin-top: -20vh !important;
}

.sfondo{
    position: fixed;
    background-image: url('../img/tubi.jpg');
    background-size: cover !important;
    height: 100%;
    width: 100%;
}

input{
    background: transparent !important;
    border-top: 0px !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-radius: 0px !important;
    width: 20vw !important;
    margin-bottom: 30px;
    color: lightgray !important;
}

input::placeholder{
    color: lightgray !important;
}